
/* BEGIN EXTERNAL SOURCE */

        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 163px;
        }
        .auto-style3 {
            width: 197px;
        }
        .auto-style4 {
            width: 153px;
        }
        .auto-style5 {
            margin-left: 0px;
        }
    
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */

        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 163px;
        }
        .auto-style3 {
            width: 197px;
        }
        .auto-style4 {
            width: 153px;
        }
        .auto-style5 {
            margin-left: 0px;
        }
    
/* END EXTERNAL SOURCE */
