
/* BEGIN EXTERNAL SOURCE */

        body {
            background-color: #fff;
            margin: 0;
            padding: 10px 0; /* Add some space from the top */
            text-align: center; /* Center align the content */
            margin-top: 30px
        }
        
        .auto-style1 {
            width: 90%;
            margin: 0 auto; /* Center align the container */
            font-size: 20px;
            align-content: center;
            margin: 0 0 .5rem;
            font-weight: 500;
            color: #6c63ff;
        }
        h2 
        {
            display: block;
            font-size: 1.5em; /* Adjust font size */
            margin-block-start: 30px;
            margin-block-end: 2px;
            margin-inline-start: 30px;
            margin-inline-end: 2px;
            font-weight: bold;
            color: black; /* Adjust text color */
            letter-spacing: -1px; /* Reduce spacing between letters */
        }
        .auto-style2 {
            line-height: 1.0; /* Adjust the line-height value */       
        }
        
        p {
            font-size: 12.8px;      
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 20px; /* Add padding to increase distance between columns */
            vertical-align: top;
        }

        /* Styles for input fields */
        input[type="text"],
        input[type="password"] {
            width: calc(100% - 10px); /* Adjust width to accommodate padding */
            padding: 5px 0;
            border: none;
            border-bottom: 2px solid #ccc;
            background-color: transparent;
            outline: none;
            font-size: 16px;
            margin-bottom: .5rem;
            position: relative; /* Set position to relative */
        }

        /* Styles for placeholder text */
        input[type="text"]::placeholder,
        input[type="password"]::placeholder {
            position: absolute; /* Set position to absolute */
            top: 50%; /* Adjust the top position to vertically center the text */
            left: 0; /* Align placeholder text to the left */
            transform: translateY(-50%); /* Vertically center the text */
            transition: top 0.3s, opacity 0.3s; /* Add transition effect */
            color: #aaa; /* Adjust placeholder text color */
        }
        
        /* Styles for input fields when focused */
        input[type="text"]:focus::placeholder,
        input[type="password"]:focus::placeholder {
            top: -15px; /* Move placeholder text upward when focused */
            opacity: 0.5; /* Adjust opacity of placeholder text when focused */

        }

        input[type="submit"] {
            width: 50%;
            border: none;
            background-color: purple;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            color: #fff;
            cursor: pointer;
            padding: 12px 20px; /* Adjusted padding */
            border-radius: 30px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;             
        }

        input[type="submit"]:hover {
            background-color: lightgray !important;

        }

        .auto-style3 {
            width: 100%;
            max-width: 341px;
            margin: 0 auto; /* Center align input field */
        }

        .auto-style4 {
            width: 100%;
            max-width: 342px;
            margin: 0 auto; /* Center align input field */
        }
    
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
color: rgba(0, 0, 0, 0.87); font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
color: rgba(0, 0, 0, 0.87); font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
LinkButton {
font-weight: 200; color: purple; text-align: left; cursor: pointer; font-size: 13px;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */

        body {
            background-color: #fff;
            margin: 0;
            padding: 10px 0; /* Add some space from the top */
            text-align: center; /* Center align the content */
            margin-top: 30px
        }
        
        .auto-style1 {
            width: 90%;
            margin: 0 auto; /* Center align the container */
            font-size: 20px;
            align-content: center;
            margin: 0 0 .5rem;
            font-weight: 500;
            color: #6c63ff;
        }
        h2 
        {
            display: block;
            font-size: 1.5em; /* Adjust font size */
            margin-block-start: 30px;
            margin-block-end: 2px;
            margin-inline-start: 30px;
            margin-inline-end: 2px;
            font-weight: bold;
            color: black; /* Adjust text color */
            letter-spacing: -1px; /* Reduce spacing between letters */
        }
        .auto-style2 {
            line-height: 1.0; /* Adjust the line-height value */       
        }
        
        p {
            font-size: 12.8px;      
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 20px; /* Add padding to increase distance between columns */
            vertical-align: top;
        }

        /* Styles for input fields */
        input[type="text"],
        input[type="password"] {
            width: calc(100% - 10px); /* Adjust width to accommodate padding */
            padding: 5px 0;
            border: none;
            border-bottom: 2px solid #ccc;
            background-color: transparent;
            outline: none;
            font-size: 16px;
            margin-bottom: .5rem;
            position: relative; /* Set position to relative */
        }

        /* Styles for placeholder text */
        input[type="text"]::placeholder,
        input[type="password"]::placeholder {
            position: absolute; /* Set position to absolute */
            top: 50%; /* Adjust the top position to vertically center the text */
            left: 0; /* Align placeholder text to the left */
            transform: translateY(-50%); /* Vertically center the text */
            transition: top 0.3s, opacity 0.3s; /* Add transition effect */
            color: #aaa; /* Adjust placeholder text color */
        }
        
        /* Styles for input fields when focused */
        input[type="text"]:focus::placeholder,
        input[type="password"]:focus::placeholder {
            top: -15px; /* Move placeholder text upward when focused */
            opacity: 0.5; /* Adjust opacity of placeholder text when focused */

        }

        input[type="submit"] {
            width: 50%;
            border: none;
            background-color: purple;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            color: #fff;
            cursor: pointer;
            padding: 12px 20px; /* Adjusted padding */
            border-radius: 30px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;             
        }

        input[type="submit"]:hover {
            background-color: lightgray !important;

        }

        .auto-style3 {
            width: 100%;
            max-width: 341px;
            margin: 0 auto; /* Center align input field */
        }

        .auto-style4 {
            width: 100%;
            max-width: 342px;
            margin: 0 auto; /* Center align input field */
        }
    
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
color: rgba(0, 0, 0, 0.87); font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
color: rgba(0, 0, 0, 0.87); font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
LinkButton {
font-weight: 200; color: purple; text-align: left; cursor: pointer; font-size: 13px;
}
/* END EXTERNAL SOURCE */
